In [4]:
'''
Overview

This is the original data from Titanic competition plus some changes that I applied to it to be better suited for binary logistic regression:

1. Merged the train and test data.
2. Removed the 'ticket' and 'cabin' attributes.
3. Moved the 'Survived' attribute to the last column.
4. Added extra zero columns for categorical inputs to be better suited for One-Hot-Encoding.
5. Substituted the values of 'Sex' and 'Embarked' attributes with binary and categorical values respectively.
6. Filled the missing values in 'Age' and 'Fare' attributes with the median of the data.
'''

import os # Operating System Control
import pandas as pd # Data Processing
import numpy as np # Linear Algebra

# os.system("pwd")
# /Users/yungi/Documents/Hello_Atom/Titanic
for dirname, _, filenames in os.walk("/Users/yungi/Documents/Hello_Atom/Titanic/inputs"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data = pd.read_csv("/Users/yungi/Documents/Hello_Atom/Titanic/inputs/train_and_test2.csv")

## Importing Libraries
import matplotlib.pyplot as plt
import seaborn as sns

## Modeling Libraries
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier # Study
from sklearn.ensemble import RandomForestClassifier # Study
## Evaluate Model
from sklearn.metrics import confusion_matrix, roc_curve

/Users/yungi/Documents/Hello_Atom/Titanic/inputs/train_and_test2.csv

In [5]:
## Data Preprocessing
data.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [6]:
data.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')