# For Titanic dataset, Notebook reference from Kaggle.

## Reference from https://www.kaggle.com/surajkumar88/titanic-machine-learning-from-disaster-eda/notebook?select=test.csv

In [1]:
import numpy as np
import pandas as pd
import os 
import sys

In [2]:
sys.executable

'/Users/yungi/anaconda3/envs/titanic/bin/python3'

In [8]:
!echo $JUPYTER_PATH

In [6]:
!python --version

Python 3.7.9

In [5]:
!jupyter kernelspec list

[ListKernelSpecs] WARNING | Config option `kernel_spec_manager_class` not recognized by `ListKernelSpecs`.
Available kernels:
  python3    /Users/yungi/Library/Jupyter/kernels/python3
  titanic    /Users/yungi/Library/Jupyter/kernels/titanic

In [3]:
sys.path

['/Users/yungi/Documents/Hello_Atom/Titanic',
 '/Users/yungi/anaconda3/envs/titanic/lib/python37.zip',
 '/Users/yungi/anaconda3/envs/titanic/lib/python3.7',
 '/Users/yungi/anaconda3/envs/titanic/lib/python3.7/lib-dynload',
 '',
 '/Users/yungi/anaconda3/envs/titanic/lib/python3.7/site-packages',
 '/Users/yungi/anaconda3/envs/titanic/lib/python3.7/site-packages/IPython/extensions',
 '/Users/yungi/.ipython']

In [54]:
import matplotlib.pyplot as plt
import seaborn as sns

# Ploty Libraries
import plotly as ply
import plotly.express as px # 중요
import plotly.graph_objects as go # 중요
import plotly.figure_factory as ff
from plotly.colors import n_colors
from plotly.subplots import make_subplots

In [6]:
for dirname, _, filenames in os.walk("/Users/yungi/Documents/Hello_Atom/Titanic/inputs"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/yungi/Documents/Hello_Atom/Titanic/inputs/test.csv
/Users/yungi/Documents/Hello_Atom/Titanic/inputs/train.csv
/Users/yungi/Documents/Hello_Atom/Titanic/inputs/train_and_test2.csv

In [7]:
train_data = pd.read_csv("/Users/yungi/Documents/Hello_Atom/Titanic/inputs/train.csv")
test_data = pd.read_csv("/Users/yungi/Documents/Hello_Atom/Titanic/inputs/test.csv")

In [8]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [25]:
# train_data["Age"].describe()["mean"] is the same with train_data.describe()["Age"]["mean"]
train_data["Age"].describe()["mean"]

29.69911764705882

In [27]:
# For the both of train & test dataset, 'Age' and 'Cabin' attributes have missing values.
# Then we'll replace the missing values in "Age" and "Fare" columns
# with the average values of the respective columns. ('Cabin' attribute has data type of object, so it is controversial)
train_data["Age"] = train_data["Age"].fillna(train_data["Age"].describe()["mean"])
test_data["Age"] = test_data["Age"].fillna(test_data["Age"].describe()["mean"])

# 'Fare' attribute is type of float64 now, but we change it to be int.
train_data["Fare"] = train_data["Fare"].fillna(train_data["Fare"].describe()["mean"])
test_data["Fare"] = test_data["Fare"].fillna(test_data["Fare"].describe()["mean"])
train_data["Fare"] = train_data["Fare"].astype(int)
test_data["Fare"] = test_data["Fare"].astype(int)

In [28]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    int64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 36.0+ KB
None

In [30]:
# Now almost every attributes has no missing values without the 'Cabin' column.

In [38]:
# Only Women in terms of Survived or not.
survived_women = train_data[train_data.Sex=="female"]["Survived"] # <class 'pandas.core.series.Series'>

# Only men in terms of Survived or not.
survived_men = train_data[train_data.Sex=="male"]["Survived"] # <class 'pandas.core.series.Series'>

In [46]:
# "Survived"여부는 0과 1 binary로 되어 있다. 이를 이용하여 생존비율을 간단하게 계산할 수 있다.
print("Survival rate for women is {:.2f} and for men is {:.2f}".format((sum(survived_women)/len(survived_women))*100, (sum(survived_men)/len(survived_men))*100))

Survival rate for women is 74.20 and for men is 18.89

In [48]:
# -> Survival rate for women is almostly four times(x4) bigger than that for men !!

In [49]:
data = train_data # 이제 train_data를 주로 다룰 것이기 때문에.

In [52]:
# Add new "Died" attribute.
data["Died"] = 1 - data["Survived"] # "Died" 여부는 "Survived"의 반전!

## Data Exploratory Analysis (EDA; 탐색적 데이터 분석)
### 시각화 라이브러리로서 plotly(플롯틀리)를 아주 적극적으로 활용한다. 
- 시각화된 결과를 matplot, seaborn보다 __interactive__하게 만들어준다는 평가가 있다!
  - plotly에 대해 잘 설명된 게시글 <br>
  https://wooiljeong.github.io/python/python_plotly/

In [58]:
ply.__version__ # plotly=4.12.0

'4.12.0'